@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

:root{
    --background: #003039;
    --cor-font: #f4f4f4;
    --cor-img: #07459d;
    --back-google: #8492a6;
    --back-home: #969faa;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    overflow-x: hidden;
}

main{
    max-width: 430px;
    height: 750px;
    margin: auto;
    box-shadow: 1px 1px 8px #0000003b;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

main > section.image{
    width: 100%;
    height: 350px;
   
}

main > section.image > img{
    width: 100%;
    height: 100%;
}

main > section.image > p{
    text-align: center;
    color: var(--back-home);
    font-size: 1.2em;
   
}



.formulario > form{
    margin-top: 40px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulario > form > input{
    background-color: var(--background);
    width: 85%;
    height: 45px;
    border: 1px solid var(--back-google);
    color: var(--cor-font);
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 12px;
    
}

.formulario > form > input.ultimo{
    margin-bottom: 0;
}



input::placeholder{
    color: var(--back-google);
}

.formulario > form > a{
    display: block;
    margin: 23px auto 0 auto;
   
    color: var(--cor-font);
    background-color: var(--back-google);
    width: 70%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;  
}

.formulario > form > a:hover{
    color: #000000;
    background-color: var(--cor-font);
}

.sign-ip{
    position: absolute;
    top: 95%;
    left: 43%;
}

.sign-ip > a{
    color: var(--back-google);
    font-size: 20px;
}



